@{
    ViewData["Title"] = "Inicio - SENPRO";
}
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}
<section class="hero-section">
    <div class="hero-text">
        <h1>Suministros de confianza para centros geriátricos</h1>
        <p>En SENPRO garantizamos el bienestar y la seguridad de los mayores con productos de alta calidad diseñados
            para el cuidado profesional.</p>

            <div class="hero-acciones">
                <a href="#productos" class="btn-principal">Ver Catálogo</a>
                <a href="#contacto" class="btn-secundario">Saber más</a>
            </div>
        </div>

        <div class="hero-imagen">
            <img src="~/assets/images/anciano.png" alt="Cuidado de mayores" class="img-fluida2">
                
                </div>
            </section>
            <section class="seccion-estrella">
                <div class="estrella-container">
                    <div class="estrella-imagen">
                        <img src="~/assets/images/protector_espinilla/espinillera.png" alt="Espinillera SENPRO" />
                    </div>
                    <div class="estrella-texto">
                        <span class="tag">Producto Destacado</span>
                        <h2>Protección avanzada con nuestro Protector de Espinilla</h2>
                        <p>Diseñada específicamente para pieles sensibles en la tercera edad. Evita hematomas y lesiones por impacto
                            con nuestra tecnología de absorción de choque y tejido transpirable.</p>
                            <a href="#" class="btn-blanco-outline">Ver detalles técnicos</a>
                        </div>
                    </div>
                </section>